:root {
  --text-color: white;
  --background-color: #37474f;
  --accent-color: #bf360c;
}
* {
  font-family: "Jua", sans-serif;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
}
.navbar__logo {
  font-size: 24px;
  color: var(--accent-color);
}
.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar__menu li {
  padding: 8px 12px;
}
.navbar__menu li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}
.navbar__icon {
  list-style: none;
  color: var(--text-color);
  display: flex;
  padding-left: 0;
}
.navbar__icon li {
  padding: 8px 12px;
}
.navbar__toggleBtn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }
  .navbar__icon {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icon.active {
    display: flex;
  }
}
